.header-color {
	background: #833ab4; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#fcb045,
		#fd1d1d,
		#833ab4
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.landing-grid {
	background: #833ab4; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#fcb045,
		#fd1d1d,
		#833ab4
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	text-align: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.avatar-img {
	height: 200px;
	padding-top: 5em;
}

.banner-text {
	background-color: black;
	opacity: .8;
	width: 75%;
	margin: auto;
	border-radius: 10px;
}

.banner-text h1 {
	font-size: 66px;
	font-weight: bold;
	color: white;
	text-align: center;
}

.banner-text hr {
	border-top: 5px dotted white;
	width: 50%;
	margin: auto;
}

.banner-text p {
	color: white;
	font-size: 20px;
	padding: 1em;
}

.social-links {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-content: space-between;
	width: 50%;
	margin: auto;
}

.social-links i {
	color: white;
	font-size: 5em;
	padding: 8px;
}

.projects-grid {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
}
